{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      // lambda表达式
      "arrowFunctions": true,
      // 解构赋值
      "destructuring": true,
      // class
      "classes": true,
      // http://es6.ruanyifeng.com/#docs/function#函数参数的默认值
      "defaultParams": true,
      // 块级作用域，允许使用let const
      "blockBindings": true,
      // 允许使用模块，模块内默认严格模式
      "modules": true,
      // 允许字面量定义对象时，用表达式做属性名
      // http://es6.ruanyifeng.com/#docs/object#属性名表达式
      "objectLiteralComputedProperties": true,
      // 允许对象字面量方法名简写
      /*var o = {
        method() {
          return "Hello!";
        }
     };

     等同于

     var o = {
       method: function() {
         return "Hello!";
       }
     };
    */
      "objectLiteralShorthandMethods": true,
      /*
      对象字面量属性名简写
      var foo = 'bar';
      var baz = {foo};
      baz // {foo: "bar"}

      // 等同于
      var baz = {foo: foo};
    */
      "objectLiteralShorthandProperties": true,
      // http://es6.ruanyifeng.com/#docs/function#rest参数
      "restParams": true,
      // http://es6.ruanyifeng.com/#docs/function#扩展运算符
      "spread": true,
      // http://es6.ruanyifeng.com/#docs/iterator#for---of循环
      "forOf": true,
      // http://es6.ruanyifeng.com/#docs/generator
      "generators": true,
      // http://es6.ruanyifeng.com/#docs/string#模板字符串
      "templateStrings": true,
      "superInFunctions": true,
      // http://es6.ruanyifeng.com/#docs/object#对象的扩展运算符
      "experimentalObjectRestSpread": true,
      "experimentalDecorators": true
    },
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      1,
      2,
      {
        "SwitchCase": 1
      }
    ],
    // 文件末尾强制换行
    "eol-last": 1,
    // 使用 === 替代 ==
    "eqeqeq": [
      1,
      "allow-null"
    ],
    // 控制逗号在行尾出现还是在行首出现
    // http://eslint.org/docs/rules/comma-style
    "comma-style": [
      1,
      "last"
    ],
    "linebreak-style": [
      1,
      "unix"
    ],
    "quotes": [
      1,
      "single"
    ],
    "semi": [
      0,
      "never"
    ],
    "no-extra-semi": 0,
    "semi-spacing": 0,
    "no-alert": 0,
    "no-array-constructor": 1,
    "no-caller": 1,
    "no-catch-shadow": 0,
    "no-cond-assign": 1,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-continue": 0,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-delete-var": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-unused-vars": 1,
    "comma-dangle": 1
  }
}